.header {
  overflow: hidden;
  aspect-ratio: 4/1;
  backdrop-filter: blur(20px);
  background-color: rgba($color: #000000, $alpha: 0.3);
}

.headerIcon {
  width: min-content;
  margin: 20px auto;

  img {
    width: 100%;
    height: 100%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
}
