@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root,
body,
html,
.ant-layout {
  height: 100vh;
}

main {
  overflow-y: auto;
}
``